<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="row">
            <div class="col-6 offset-3">
                <br><br>
                <h3>Create a new listing</h3><br>
                <form method="post" action="/listings" novalidate class="needs-validation">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" placeholder="enter title" name="listing[title]" class="form-control"
                            required>
                            <div class="valid-feedback">
                                Title looks good!
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" id="des" cols="30" rows="3"
                            placeholder="enter description" class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                please enter short description
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input type="text" placeholder="enter image URL/link" name="listing[image]"
                            class="form-control">
                    </div>
                    
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" placeholder="2000" name="listing[price]" class="form-control" required>
                            <div class="invalid-feedback">
                                Price should be valid
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" placeholder="India" name="listing[country]" class="form-control"
                                required>
                                <div class="invalid-feedback">
                                    Country name should be valid
                                </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" placeholder="Nagpur, Maharashtra" name="listing[location]"
                            class="form-control" required>
                            <div class="invalid-feedback">
                                Location should be valid
                            </div>
                    </div>
                    <div>
                        <br>
                        <button class="btn btn-dark">Add</button>
                    </div>
                    <br><br>
                </form>
            </div>
        </div>

    </body>